<div class="jumbotron">
  <h1>Edit College Applied To</h1>
  <p class="lead">
    <form name="updateForm" class="form-horizontal" role="form"  ng-controller="CollegeEditCtrl"
          ng-submit="submitted=true; collegeUpdate(college, updateForm.$valid)" novalidate>

        <div class="form-input">
            <label>College:</label>
            <input type="text" ng-model="college_name"  ng-minlength="2" ng-maxlength="50" name="college_name"
                    ng-model-options="{updateOn: 'blur'}" required \>

            <div ng-if="submitted">
                <div ng-messages="updateForm.college_name.$error">
                    <div ng-message="required" class="field-error">You must enter a college name.</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-success" value="Update"/>
            </div>
        </div>

    </form>.
  </p>
</div>

